[submodule "linear_solver_hardcodedsolution/Solve_linear_system-WithMathematica"]
	path = linear_solver_hardcodedsolution/Solve_linear_system-WithMathematica
	url = https://github.com/lorenzorossi7/Solve_linear_system-WithMathematica.git
